
.form-update {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px
}



.img-product {
    height: auto;
    width: 100px;
}

.navbar_wrapper a{
    padding-left: 30px;
    text-decoration: none;
}

.options-td > *{
    margin-left: 20px;
}